@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg-main);

  user-select: none;
}

.form-shadow{
  box-shadow: 0 4px 12px var(--box-shadow-form);
}

:root {
  --color-bg-main: #f6f6f4;
  --color-bg-card: #eceae7;
  --color-bg-completed: #edf6ec;
  --color-border-default: #d0d0cd;
  --color-border-completed: #a0d995;

  --color-buttons: #e8f1ef;
  --color-buttons-clicked: #d1e3df;

  --color-text-main: #2e2e2e;
  --color-text-sub: #555555;
  --color-text-muted: #777777;
  --color-text-muted-2: #8f8f8f;

  --color-deadline-future: #4a90e2;
  --color-deadline-today: #e6b85c;
  --color-deadline-past: #e57373;
  --color-deadline-done: #5da85d;

  --color-complete-icon: #5da85d;

  --color-particles: #ffb347;

  --box-shadow-card: 0 2px 8px rgba(0, 0, 0, 0.06);
  --box-shadow-form:rgba(50, 100, 255, 0.35);

  --border-button-active: #4a90e2;

  --button-glow: rgba(74, 144, 226, 0.25);
  --button-inset-light: rgba(200, 220, 255, 0.2);
  --button-inset-dark: rgba(0, 50, 100, 0.1);
}

[data-theme='dark'] {
  --color-bg-main: #1f1f1f;
  --color-bg-card: #2a2a2a;
  --color-bg-completed: #223322;
  --color-border-default: #434343;
  --color-border-completed: #73d13d;

  --color-buttons-clicked: #0b1512;
  --color-buttons: #1d2d29;

  --color-text-main: #e6e6e6;
  --color-text-sub: #bfbfbf;
  --color-text-muted: #8c8c8c;
  --color-text-muted-2: #999999;

  --color-deadline-future: #40a9ff;
  --color-deadline-today: #ffc53d;
  --color-deadline-past: #ff7875;
  --color-deadline-done: #49aa19;

  --color-complete-icon: #52c41a;

  --color-particles: #6f6fe6;

  --box-shadow-card: 0 2px 8px rgba(255, 255, 255, 0.05);
  --box-shadow-form: rgba(255, 80, 80, 0.35);

  --border-button-active: red;

  --button-glow: rgba(255, 100, 100, 0.7);
  --button-inset-light: rgba(120, 20, 20, 0.2);
  --button-inset-dark: rgba(30, 0, 0, 0.5);

}

.material-symbols-outlined {
  color: var(--color-text-main);
  font-size: 16px;
}